.label-modification
  = form_for @label, html: {class: "label-modification-form"} do |f|
    = f.label :name
    = f.text_field :name
    = f.label :tags
    = f.text_field :tags
    = f.submit "Create", class: "button"