- content_for :content_navigation do
  %ul.labels-list
    %li{class: (@label.nil? ? "is_current" : "")}= link_to "Unclassed", documents_path
    - @labels.each do |label|
      %li{class: (@label == label ? "is_current" : "")}= link_to label.name, label_documents_path(label.id)

%ul.documents-grid
  - @documents.each do |document|
    %li.document-thumb
      = link_to image_tag(document_thumb_path(document.id), class: "thumb"), document_path(document.id)
      %p
        = link_to document.title, document_path(document.id)
        %br
        %span.document-thumb-date= document.created_at.to_date.to_formatted_s(:long)


