- content_for :content_navigation do
  %ul.document-index
    - @pages.each do |page|
      %li
        = image_tag document_page_thumb_path(@document.id, page.id), class: "thumb", title: "Go to page ##{page.number}"
        .document-index-caption= page.number

.document-reader
  %ul.document-reader-pages
    - @pages.each do |page|
      %li= image_tag document_page_snapshot_path(@document.id, page.id), class: "thumb", title: "Page ##{page.number}"
  .document-reader-info
    %h2= @document.title
    %ul.document-reader-metadata
      %li= "Date: #{@document.created_at.to_date.to_formatted_s(:long)}"
      %li= "Pages: #{@pages.length}"
    = link_to "Download original", document_download_path(@document.id), class: "button"