!!! 5
%html
  %head
    %title Paperless
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #header
      #header-logo
        %h1 Paperless
      #header-navigation
        = link_to "Browse documents", documents_path, class: "button"
        = link_to "Add document", new_document_path, class: "button"
    #content
      #content-navigation
        = yield :content_navigation
      #content-main
        = yield
