!!! 5
%html
  %head
    %title Paperless
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #notification-area
    .drag-and-drop-files{"data-documents-path" => documents_path}
      You can Drag and Drop PDF files here !
    #header
      #header-logo
        %h1= link_to "Paperless", root_path
    #content
      #content-navigation
        %ul.labels-list
          %li{class: (@label.to_s == "Inbox" ? "is-label-selected" : "")}= link_to "Inbox", documents_path
          %hr
          - @labels.each do |label|
            %li{class: (@label.to_s == label.to_s ? "is-label-selected" : "")}= link_to label.name, label_path(label.id, name: label.to_sym), class: "label-draggable", "data-label-id" => label.id
          %hr
          %li= link_to "Add label", new_label_path, class: "button"
      #content-main
        = yield
