!!! 5
%html
  %head
    %title Paperless
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #header
      #header-logo
        %h1= link_to "Paperless", root_path
    #content
      #content-navigation
        %ul.labels-list
          %li{class: (@label.to_s == "Inbox" ? "is_current" : "")}= link_to "Inbox", inbox_documents_path
          %li{class: (@label.nil? ? "is_current" : "")}= link_to "Unclassed", documents_path
          - @labels.each do |label|
            %li.document-droppable-area{class: (@label.to_s == label.to_s ? "is_current" : "")}= link_to label.name, label_documents_path(label.id)
      #content-main
        = yield
